.wrapper * {
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.App {
    height: 100%;
}

#root {
    height: 100%;
}

.wrapper {
    height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.content-page {

    padding: 0 12px;
    padding-top: 102px;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}

.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 212, 43, 0.31);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 14px 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, .08);


    &-layout {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-menu {
        a {
            text-decoration: none;
            font-size: 18px;
            color: #872aea;
            padding: 0 10px;
        }
    }
}

.login {
}

.c-form {
    padding: 32px 32px 40px;
    border-radius: 10px;
    background-color: #f9f3ff;
    box-shadow: 0 24px 28px rgb(0, 0, 0, .08);
    
    &__item {
        margin-bottom: 14px;
    }

    &--small {
        max-width: 360px;
    }
    &--big {
        max-width: 550px;
    }

    &__head {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    &-icon {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;

        &--round {
            background-color: #ffd625;
            border-radius: 150px;
        }

        &--square {
            background-color: #ffd625;
            border-radius: 10px;
        }
    }

    &__body {
        margin-bottom: 30px;
    }

    &__footer {
        margin-top: 30px;
    }

    &__title {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: #872aea;
    }

    &-box {
        &__text {
            font-size: 13px;
            margin-bottom: 8px;
        }

        &--center {
            text-align: center;
        }
    }


}

.c-link {
    text-decoration: none;
    color: #9b2aff;
    font-size: 16px;
}

.c-title {
    color: #9b2aff;
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 700;


}

.c-input {
    padding: 12px 15px;
    border: 2px solid #f1e5fc;
    outline: none;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    color: #351a6a;
    font-size: 18px;
    font-weight: 700;
}

.c-label {
    display: block;
    font-size: 18px;
    color: #351a6a;
    margin-bottom: 8px;
}

.c-btn {
    display: inline-block;
    outilne:none;
    border: none;
    background-color: #c493f0;
    color: #fff;
    height: 44px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: 700;
    padding: 0 20px;
    text-decoration: none;
    margin-right: 10px;
    
    &:hover {
        color: #9b2aff;
        background-color: #ffd625;
        transition: all .2s ease-in-out;
    }

    &-layout {
        margin-bottom: 14px;
        display: flex;
        align-items: center;

        &--center {
            justify-content: center;
        }

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &--fulWidth {
        width: 100%;
    }

    &--primary {
        background-color: #9b2aff;
        color: #fff;
    }

    &--outline {
        border: 2px solid #9b2aff;
        background-color: transparent;
        color: #9b2aff;
    }

    &--big{
        height: 52px;
        line-height: 52px;
        min-width: 130px;
    }
}

.client {
    &-drag {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            content: '';
            position: absolute;
            left: 20px;
            top: 20px;
            right: 20px;
            bottom: 20px;
            border: 6px dashed #fff;
        }

        &__text {
            font-size: 36px;
            text-align: center;
            color: #fff;
        }
    }
}

.listing {

    &-head {
        margin-bottom: 20px;
    }
    
    &-item {

    }

    &-create {
        display: flex;
    }

    &-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 14px;
        cursor: pointer;
        border-radius: 2px;
        color: #424242;

        &:hover {
            background-color: #f8f8f8;

            .listing-card__link {
                opacity: 1;
            }

            .listing-card__btns {
                display: flex;
            }
        }

        &__icon {
            flex: 0 1 70px;

            &--dir {
                i {
                    display: block;
                    height: 28px;
                    width: 42px;
                    border-radius: 0 5px 5px 5px;
                    position: relative;
                    background-color: #ffd625;

                    &::before {
                        content: "";
                        width: 13px;
                        height: 4px;
                        position: absolute;
                        border-radius: 4px 4px 0 0;
                        top: -4px;
                        left: 0;
                        background-color: #ffd625;
                    }
                }
            }

            &--file {
                i {
                    display: block;
                    height: 38px;
                    width: 44px;
                    border-radius: 5px 5px 5px 5px;
                    position: relative;
                    background-color: #eeeeee;
                    text-align: center;
                    line-height: 38px;
                    font-style: normal;
                    font-weight: 700;
                    color: #c9c9c9;
                }
            }


        }

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: auto;
            position: relative;
        }

        &__name {
            width: 50%;
        }

        &__date {
            width: 15%;
        }

        &__size {
            width: 25%; 
        }

        &__link {
            width: 30px;
            height: 30px;
            border: 2px solid #9b2aff;
            position: relative;
            border-radius: 150px;
            opacity: .5;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        &__btns {
            position: absolute;
            top: 0;
            height: 100%;
            right: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            display: none;
        }
        
        &__btn {
            border: none;
            outline: none;
            background-color: #eeeeee;
            padding: 8px 20px;
            margin-left: 10px;
            border-radius: 6px;
            cursor: pointer;
        }
    }

    &-download {
        margin-right: 10px;

        &__btn {
            background-color: #9b2aff;
            display: inline-block;
            height: 44px;
            color: #fff;
            line-height: 40px;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            font-weight: 700;
            padding: 0 20px;
            text-decoration: none;
        }

        input[type=file] {
            display: none;
        }
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;

    &-layout {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    &-title {
        margin-bottom: 14px;
        font-size: 20px;
    }
    
    &-bg {
        width: 100%;
        height: 100%;
        background-color: #333;
        opacity: 0.2;
    }
}

.info {
    padding: 32px 32px 40px;
    border-radius: 10px;
    background-color: #f9f3ff;
    box-shadow: 0 24px 28px rgb(0, 0, 0, .08);
    &-text {
        text-align: center;
        color: #9b2aff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .c-btn {
        margin-right: 0;
    }
}

.upload-file {
    position: fixed;
    right: 30px;
    bottom: 0;
    width: 350px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    background-color: #f9f3ff;
    //box-shadow: 0 24px 28px rgb(0 0 0 / 8%);

    &__close {
        cursor: pointer;
        padding: 20px 32px;
        color: #99939f;
    }
    &__title {
        cursor: pointer;
        padding: 20px 32px;
        width: 100%;
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        padding: 32px 32px 42px;
        height: 100%;
        overflow: hidden;
        width: 350px;
    }

    &-list {
        overflow-y: scroll;
        height: 100%;
        margin-right: -18px;
        &__item {
            margin-bottom: 10px;
        }

        &__wrapper {
            overflow-x: hidden;
        }
    }

    &-card {
        background-color: #fff;
        padding: 14px 20px 24px;
        border-radius: 8px;
        position: relative;

        &__close {
            position: absolute;
            right: 14px;
            top: 4px;
            cursor: pointer;
            color: #99939f;
        }

        &__name {
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 10px;
            color: #99939f;
        }

        &-progress {
            height: 10px;
            width: 100%;
            background-color: #f9f3ff;
            border-radius: 150px;
            position: relative;

            &__bar {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: #2aff9c;
                border-radius: 150px;

            }
            &__num {
                position: absolute;
                bottom: -15px;
                right: 50%;
                font-size: 13px;
                color: #aaa6ae;
            }
        }
    }

}